.Digital{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 40px;
    &_content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 40px;
        padding: 0 !important;
    }
}