.BlockWithText{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: end;
    transform: translateY(-200);
    @media(max-width: 1100px){
        justify-content: center !important;
    }

    &:nth-of-type(odd) {
        left: 0px;
        justify-content: start;
    }

    &_bot{
        transform: translateY(0);
    }

    &_content{
        padding: 32px;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;
        gap: 40px;
        max-width: 650px;
        width: 100%;
        &_title{
            font-size: 48px;
            text-align: left;
            @media(max-width: 550px){
                font-size: 32px;
            }
        }
        &_text{
            font-size: 24px;
            text-align: left;
            color: rgba(255,255,255, 0.66) !important;
            @media(max-width: 550px){
                font-size: 16px;
            }
        }
    }
}