.languageChange {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    &_el {
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 200;
        transition: opacity 300ms;
        cursor: pointer;
        font-size: 24px;
        font-weight: 500;
        opacity: .5;
        transition: opacity 300ms;

        &_active {
            opacity: 1;
        }
    }

    &_dark {}
}